@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    width: 1025px;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

@media (max-width: 415px) {
    body {
        width: 100%;
        margin: auto;
    }
}